@model HomeViewModel  


<section class="feature__post__area">
        <div class="container__feature">
            <div class="row">
                <div class="col-lg-7">
                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                        <div style="background:linear-gradient(to bottom,  rgba(255,255,255,0) 10%, rgba(0, 0, 0, 0.9) 100%),  url(/Images/feature/gadget2.jpg);" class="img__position"></div>
                        <div class="post__content">
                            <a href="#" class="post__badge">Gadget</a>
                            <h2><a href="#" class="post__title">Samsung Gear S3 review: A whimper, when smartwatches need a bang</a></h2>
                            <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="right__content"><img src="~/Images/feature/gadget4.jpg" class="right__img__size"></div>
                                <div class="right__content__top">
                                    <a href="#" class="post__badge">Gadget</a>
                                    <h2><a href="#" class="post__title">Why The iPhone X Will Force Apple To Choose Between Good Or Evil</a></h2>
                                    <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                    <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin-top: 5px;">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="right__content"><img src="~/Images/feature/travel2.jpg" class="right__img__size"></div>
                                <div class="right__content__bottom">
                                    <a href="#" class="post__badge">Travel</a>
                                    <h2><a href="#" class="post__title">Early tourists choices to the sea of Maldiv…</a></h2>
                                    <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin-top: 5px;">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="right__content"><img src="~/Images/feature/health1.jpg" class="right__img__size"></div>
                                <div class="right__content__bottom">
                                    <a href="#" class="post__badge">Health</a>
                                    <h2><a href="#" class="post__title">That wearable on your wrist could soon...</a></h2>
                                    <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="latest__news">
        <div class="container__latest__news">
            <div class="row">
                <h3 class="block__title"><span>Latest News</span></h3>
                  @foreach (var informations in Model.Informations)
                    {
                        if(informations.Status == true)
                        {
                    <div class="col-lg-3 mb-4">
                        <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                        <div class="latest__content"><img src="~/uploads/informations/@informations.InformationImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" class="news__img"></div>
                        <div class="position__badge">
                            <a href="#" class="post__badge">@informations.Categories.Name</a>
                        </div>
                        <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> @informations.Authors.FullName</a></span>
                    </div>
                        <h2><a asp-action="detail" asp-controller="news" asp-route-id="@informations.Id" class="post__title">@informations.Title</a></h2>
                    <span class="post__date"><i class="fa-solid fa-clock"></i> <a> @informations.CreatedAt.ToString("dd MMMM, yyyy")</a></span>
                    <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> @informations.View</a></span>
                </div>
                        }
                }
            </div>
        </div>
    </section>
    <div class="add__content__area">
        <div class="add__container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Images/add_content/ad-content-one.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <section class="technology__news">
        <div class="container__technology__news">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="block__title"><span>Technology News</span></h3>
                    <div class="tab">
                        <div class="tab-menu">
                            <button class="tab-menu-link me-1" data-content="item-1">
                                <span data-title="item-1">Traveling</span>
                            </button>
                            <button class="tab-menu-link is-active ms-1" data-content="item-2">
                                <span data-title="item-2">Lifestyle</span>
                            </button>
                        </div>
                        <div class="tab-bar">
                            <div class="tab-bar-content" id="item-1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                            <div class="technology__content"><img src="~/Images/technology_news/robot1.jpg" class="news__img"></div>
                                            <div class="position__badge">
                                                <a href="#" class="post__badge">Traveling</a>
                                            </div>
                                            <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                        </div>
                                        <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                        <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                        <p class="description mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text since has five...</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/robot2.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/robot3.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/robot4.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/robot5.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-bar-content is-active" id="item-2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                            <div class="technology__content"><img src="~/Images/technology_news/gadget1.jpg" class="news__img"></div>
                                            <div class="position__badge">
                                                <a href="#" class="post__badge">Lifestyle</a>
                                            </div>
                                            <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                        </div>
                                        <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                        <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                        <p class="description mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text since has five...</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/gadget2.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/gadget3.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/gadget4.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mb-3">
                                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                                    <div class="technology__content"><img src="~/Images/technology_news/gadget5.jpg" class="news__img"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mb-3">
                                                <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="block__title__lifestyle mb-4"><span>Lifestyle News</span></h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="position-relative mb-4" style="overflow: hidden; border-radius: 4px;">
                                    <div class="lifestyle__content"><img src="~/Images/lifestyle_news/travel1.jpg" class="right__img__size"></div>
                                    <div class="lifestyle__content__top">
                                        <a href="#" class="post__badge">Travel</a>
                                        <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                        <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Architecture</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/architecture1.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Architecture</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/architecture2.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Food</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/food1.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Food</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/food2.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="position-relative mb-4" style="overflow: hidden; border-radius: 4px;">
                                    <div class="lifestyle__content"><img src="~/Images/lifestyle_news/architecture3.jpg" class="right__img__size"></div>
                                    <div class="lifestyle__content__top">
                                        <a href="#" class="post__badge">Architecture</a>
                                        <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                        <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Health</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/health1.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Health</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/health2.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Travel</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/travel2.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                                <div class="col-lg-4 mb-3">
                                    <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                        <div class="popular__content__bottom"><a href="#" class="post__badge">Traveling</a></div>
                                        <div class="technology__content"><img src="~/Images/lifestyle_news/travel5.jpg" class="news__img"></div>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                                    <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="block__title__right"><span>Follow Us</span></h3>
                    <ul class="social__icon mb-3">
                        <li><a href="#"><i class="fa-solid fa-wifi"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-g"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                    <h3 class="block__title__right mb-4"><span>Popular News</span></h3>
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="popular__content"><img src="~/Images/popular__news/health4.jpg" class="right__img__size"></div>
                                <div class="popular__content__top">
                                    <a href="#" class="post__badge">Health</a>
                                    <h2><a href="#" class="post__title">Smart packs parking sensor tech and beeps when col…</a></h2>
                                    <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                    <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="popular__content__bottom"><a href="#" class="post__badge">Lifestyle</a></div>
                                <div class="technology__content"><img src="~/Images/popular__news/gadget3.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="popular__content__bottom"><a href="#" class="post__badge">Traveling</a></div>
                                <div class="technology__content"><img src="~/Images/popular__news/travel5.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="popular__content__bottom"><a href="#" class="post__badge">Travel</a></div>
                                <div class="technology__content"><img src="~/Images/popular__news/robot5.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="popular__content__bottom"><a href="#" class="post__badge">Food</a></div>
                                <div class="technology__content"><img src="~/Images/popular__news/food1.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                    </div>
                    <h3 class="block__title__right mb-4 mt-4"><span>Trending News</span></h3>
                    <div class="row reveal">
                        <div class="slideshow-container">
                            <div class="mySlides">
                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                    <div class="popular__content"><img src="~/Images/trending_news/gadget1.jpg" class="right__img__size"></div>
                                    <div class="popular__content__top text-center">
                                        <a href="#" class="post__badge">Technology</a>
                                        <h2><a href="#" class="post__title">The best MacBook Pro alternatives in 2022 for Appl…</a></h2>
                                        <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides">
                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                    <div class="popular__content"><img src="~/Images/popular__news/gadget3.jpg" class="right__img__size"></div>
                                    <div class="popular__content__top text-center">
                                        <a href="#" class="post__badge">Travel</a>
                                        <h2><a href="#" class="post__title">Smart packs parking sensor tech and beeps when col…</a></h2>
                                        <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides">
                                <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                    <div class="popular__content"><img src="~/Images/trending_news/health5.jpg" class="right__img__size"></div>
                                    <div class="popular__content__top text-center">
                                        <a href="#" class="post__badge">Health</a>
                                        <h2><a href="#" class="post__title">Netcix cuts out the chill with an integrated perso…</a></h2>
                                        <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                                        <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                    </div>
                                </div>
                            </div>
                            <a class="prev__angel" onclick="plusSlides(-1, 0)"><i class="fa-solid fa-angle-left"></i></a>
                            <a class="next__angel" onclick="plusSlides(1, 0)"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="other__news">
        <div class="container__other__news">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="block__title__travel mb-4"><span>Travel News</span></h3>
                    <div class="row">
                        <div class="position-relative mb-4" style="overflow: hidden; border-radius: 4px;">
                            <div class="news__content"><img src="~/Images/trending_news/travel1.jpg" class="right__img__size"></div>
                            <div class="news__content__top">
                                <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/gadget2.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__travel"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__travel"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/health2.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__travel"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__travel"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/travel2.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__travel"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__travel"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="block__title__lifestyle mb-4"><span>Lifestyle News</span></h3>
                    <div class="row">
                        <div class="position-relative mb-4" style="overflow: hidden; border-radius: 4px;">
                            <div class="news__content"><img src="~/Images/trending_news/gadget1.jpg" class="right__img__size"></div>
                            <div class="news__content__top">
                                <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/health4.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/travel4.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/health5.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__lifestyle"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__lifestyle"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="block__title__health mb-4"><span>Health News</span></h3>
                    <div class="row">
                        <div class="position-relative mb-4" style="overflow: hidden; border-radius: 4px;">
                            <div class="news__content"><img src="~/Images/trending_news/health1.jpg" class="right__img__size"></div>
                            <div class="news__content__top">
                                <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                                <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                                <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/gadget3.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__health"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__health"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/health3.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__health"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__health"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                        <div class="col-lg-4 mb-3">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="other__news__content"><img src="~/Images/trending_news/travel3.jpg" class="news__img"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 mb-3">
                            <h2 style="margin: 0;"><a href="#" class="small__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date__health"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view__health"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="swipper__slider__news">
        <div class="container__swipper__slider">
            <div class="row">
                <h3 class="block__title__slider"><span>Inspiration News</span></h3>
                <div class="swiper reveal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="related__content"><img src="~/Images/latest_news/gadget2.jpg" class="news__img"></div>
                                <div class="position__badge">
                                    <a href="#" class="post__badge">Lifestyle</a>
                                </div>
                                <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                            </div>
                            <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <div class="swiper-slide">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="related__content"><img src="~/Images/latest_news/travel4.jpg" class="news__img"></div>
                                <div class="position__badge">
                                    <a href="#" class="post__badge">Travel</a>
                                </div>
                                <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                            </div>
                            <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <div class="swiper-slide">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="related__content"><img src="~/Images/latest_news/food3.jpg" class="news__img"></div>
                                <div class="position__badge">
                                    <a href="#" class="post__badge">Food</a>
                                </div>
                                <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                            </div>
                            <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                        <div class="swiper-slide">
                            <div class="position-relative" style="overflow: hidden; border-radius: 4px;">
                                <div class="related__content"><img src="~/Images/latest_news/gadget2.jpg" class="news__img"></div>
                                <div class="position__badge">
                                    <a href="#" class="post__badge">Technology</a>
                                </div>
                                <span class="post__author"><i class="fa-solid fa-user"></i> <a href="#"> John Wick</a></span>
                            </div>
                            <h2><a href="#" class="post__title">Zhang social media pop also known when smart innocent...</a></h2>
                            <span class="post__date"><i class="fa-solid fa-clock"></i> <a href="#"> 20 Jan, 2022</a></span>
                            <span class="post__view"><i class="fa-solid fa-eye"></i> <a href="#"> 5K View</a></span>
                        </div>
                    </div>
                    <div class="pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="add__content__area">
        <div class="add__container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Images/add_content/ad-content-one.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
